.navbar {
  background: var(--background-color-1) !important;
}

.nav-item {
  padding: 0 24px;
  height: 45px;
}

.nav-link {
  font-size: 18px;
  color: white !important;
}

.nav-link.active {
  border-bottom: 2px solid var(--primary-color);
}

.social-icon {
  background: #28282b;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

.footer {
  padding: 80px 0;
}

.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.scroll-to-top-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
}

@media (max-width: 991px) {
  .scroll-to-top {
    right: 10px;
    bottom: 20px;
  }

  .scroll-to-top-btn {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    font-size: 14px;
  }

  .nav-item {
    padding: 0;
    height: unset;
  }

  .social-icon {
    width: 28px;
    height: 28px;
  }

  .social-icon > img {
    width: 14px;
    height: 14px;
  }

  .social-icon {
    margin: 0 5px;
  }

  .social-icons {
    flex-direction: row !important;
  }

  .social-icons > li:first-child > a > .social-icon {
    margin-left: 0;
  }
}
